<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA28mvsCwdK5OPdzbOYQiVXYBcrxa_C6oE</string>
	<key>GCM_SENDER_ID</key>
	<string>775914870014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nyewa.id.nyewadotid</string>
	<key>PROJECT_ID</key>
	<string>nyewaid-aef4a</string>
	<key>STORAGE_BUCKET</key>
	<string>nyewaid-aef4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775914870014:ios:0090ab4fe1716d23e101af</string>
</dict>
</plist>